body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.users {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: row;
}
h2 {
  background-color: lightcoral;
}
@media only screen and (max-width: 850px) {
  .users {
    flex-direction: column;
  }
}
@media print {
  .users {
    flex-direction: column-reverse;
    margin: 3em;
  }
  h2 {
    background-color: initial;
  }
}
